/target
.odd_box_cache
TODO.MD
result
odd-box.toml
**/.devbox
**/node_modules
**/.DS_Store
web-ui/.env.development
web-ui/.env.production
odd-box.toml.backup
.odd-box.toml.swp
nginx.conf
.idea/.gitignore
.idea/modules.xml
.idea/odd-box.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
