
.styled-link.active {
    background: hsl(var(--menu-item-bg-active));
    color: var(--color2);
}

.styled-link.disabled {
    background: transparent;
}

.styled-link:not(.active):hover {
    background: #ffffff10;
}