.styled-link {
    display: flex;
    color: #fff;
    text-decoration: none;
    align-items: center;
    height: 40px;
    gap: 12px;
    padding: 0px 10px;
    transition: all 0.2s;
    border-radius: 5px;
    padding-right: 0px;
}

.styled-link.active {
    background: #ffffff22;
    color: var(--color2);
}

.styled-link.disabled {
    background: transparent;
}

.styled-link:not(.active):hover {
    background: #ffffff10;
}

.three-dots {
    padding: 0px 0px;
    opacity: 0.5;
    border-radius: 5px;
    display: grid;
    place-content: center;
    cursor: pointer;
    width:28px;
    height:28px;
    transition: all 0.1s;
    border: 1px solid #ffffff00;
}

.status-icon {
    padding: 0px 0px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    cursor: pointer;
    width:28px;
    height:28px;
    transition: all 0.1s;
    border: 1px solid #ffffff00;
}

.status-icon:hover {
    border: 1px solid #ffffff88;
}