.input-save-button {
    border:0;
    background:#a4dd90;
    outline:none;
    border-left: 0px solid #00000033;
    width: 50px;
    display:grid;
    place-content:center;
    transition:all .1s;
    padding:0;
    cursor:pointer;
    color:#00000099;
}

.input-save-button.show {
    border-left: 1px solid #00000033;
}

.input-save-button:hover {
    background:#86af77;
}