.env-var-item {
    position: relative;
    cursor: pointer;
    height:32px;
}

.env-var-item:before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color4);
    opacity: 0;
}

.env-var-item:nth-child(odd)::before {
    opacity: 0.3;
}

.env-var-item:hover {
    color: #fff;
}

.env-var-item:hover::before {
    background: #000000;
    opacity: 0.3;
}