.odd-header {
    /* border-bottom:1px solid #1f1f1f; */
    padding-left: 8px;
    position:fixed;
    display:flex;
    align-items:center;
    top:0;
    left:0;
    right:0;
    background:#242424;
    z-index:1000;
    height:60px;
    justify-content: space-between;
    padding-right: 8px;
    @media screen and (min-width: 800px) {
        padding-left:20px;
        padding-right:40px;
    }
}