.odd-footer {
    z-index:-1;
    height:180px;
    background:#1f1f1f;
    /* display:flex; */
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    justify-content:space-between;
    padding-bottom: 20px;
    padding-right:20px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: lighter;
  @media screen and (min-width: 800px) {
    padding-left:340px;
  }
}